body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fffce9
}
.navbar-inverse .navbar-nav > li > a {
    color: #fcee8b;
}
.navbar-inverse {
    background-color: #2C3E50;
    border-color: #080808;
}
footer {
    color: #fff;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
.navbar-inverse .navbar-brand {
    color: White;
    font-weight: bold;
}
.index-quanlypart{
    float: left
}
.index-quanlypart li{
    width: 124px
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
